{% extends 'layout.html' %}

{% block body %}
    <div class="row content">
        <div class="col-sm-2 sidenav">
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
        </div>
        <div class="col-sm-8 text-left">
          <h1>Welcome</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <hr>
          <h3>Test</h3>
          <p>Lorem ipsum...</p>
        </div>
    </div>


    {#<!-- Photo Grid -->
    <div class="row-photo">
      <div class="column-photo">
        <img src="C://Users/AlexandrBagdasarov/PycharmProjects/FlaskWebCrawler/FlaskWebApp/files/2018-04-24/lenta.ru/1.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/2.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/3.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/4.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/5.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/6.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/7.jpg" style="width:100%">
      </div>
      <div class="column-photo">
        <img src="../files/2018-04-24/lenta.ru/8.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/9.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/10.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/11.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/12.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/13.jpg" style="width:100%">
      </div>
      <div class="column-photo">
        <img src="../files/2018-04-24/lenta.ru/14.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/15.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/16.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/17.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/18.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/19.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/20.jpg" style="width:100%">
      </div>
      <div class="column-photo">
        <img src="../files/2018-04-24/lenta.ru/19.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/20.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/21.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/22.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/23.jpg" style="width:100%">
        <img src="../files/2018-04-24/lenta.ru/24.jpg" style="width:100%">
      </div>
    </div>#}
{% endblock %}



{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#  <head>#}
{#    <!-- Required meta tags -->#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{##}
{#    <!-- Bootstrap CSS -->#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
{##}
{#    <title>ImageSearch</title>#}
{#    <!--Custom CSS-->#}
{#    <link rel="stylesheet" href="style.css">#}
{##}
{#  </head>#}
{#    <body>#}
{#    <div class="general-container">#}
{#        <div class="container top-container">#}
{#            <div class="col-lg-12 col-lg-offset-4 centered">#}
{#                <div class="row centered">#}
{#                    <h1 class="tittle">Crawl Images</h1>#}
{#                </div>#}
{#                <div class = "row">#}
{#                    <div class="search-str">#}
{#                        <form action="" method="post">#}
{#                            <div class="form-group search_btn">#}
{#                                <input type="url" placeholder="Enter your url..."class="form-control">#}
{#                            </div>#}
{#                            <button type="submit" class="btn search_btn">Check</button>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#        <form class="form-signin">#}
{#          <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
{#          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#          <label for="inputEmail" class="sr-only">Email address</label>#}
{#          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>#}
{#          <label for="inputPassword" class="sr-only">Password</label>#}
{#          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>#}
{#          <div class="checkbox mb-3">#}
{#            <label>#}
{#              <input type="checkbox" value="remember-me"> Remember me#}
{#            </label>#}
{#          </div>#}
{#          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>#}
{#        </form>#}

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M" crossorigin="anonymous"></script>
    </body>
</html>