    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Frod Detection</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
{#          <li class="nav-item active">#}
{#            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">Link</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link disabled" href="#">Disabled</a>#}
{#          </li>#}
{#          <li class="nav-item dropdown">#}
{#            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
{#            <div class="dropdown-menu" aria-labelledby="dropdown01">#}
{#              <a class="dropdown-item" href="#">Action</a>#}
{#              <a class="dropdown-item" href="#">Another action</a>#}
{#              <a class="dropdown-item" href="#">Something else here</a>#}
{#            </div>#}
{#          </li>#}
        </ul>
        {% from "includes/_formhelpers.html" import render_field %}
        <form class="form-inline my-2 my-lg-0" action="" method="POST">
            <div class="form-group-url">
{#                <input class="form-control mr-sm-2" name="{{ render_field(form.urlInput) }}" type="url" placeholder="Enter your url..." aria-label="Check">#}
                {{ render_field(form.urlInput, class="form-control", type="url", placeholder="Enter your url...") }}
            </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
